---
title: Commercial Marinas
hero: hero/marina-2.jpg
---

<% content_for :above_content do %>
  <%= partial 'services_breadcrumbs', locals: { active: '/products-services/commercial-marinas' } %>
<% end %>

<h2>Commercial Marinas</h2>

<figure class="alignright">
    <%= image_tag 'products_services/commercial_marinas/commercial.jpg' %>
</figure>

<p>
  Surefloat offers an engineered solution for new turn-key marinas and for upgrading existing marina facilities.  With modular products that are durable, have a long lifecycle and are easy and flexible to connect, the precast segment docking system is designed with the customer in mind.
</p>

<h3>Marina Project Flowchart</h3>
<ul>
  <li>
    Marina Architect (Completed by marina’s engineering firm)
    <ul>
      <li>Marina Layout</li>
      <li>Specify Utilities</li>
      <li>Physical Oceanography</li>
    </ul>
  </li>
  <li>
    Marina Design (Completed by engineering firm)
    <ul>
      <li>Connections</li>
      <li>Engineering</li>
      <li>Shop Drawings</li>
    </ul>
  </li>
  <li>
    Float Construction (Completed by Surefloat)
    <ul>
      <li>Materials</li>
      <li>Production</li>
      <li>Detailing</li>
      <li>Storage</li>
    </ul>
  </li>
  <li>
    Float Installation (Completed by Surefloat)
    <ul>
      <li>Logistics and shipping</li>
      <li>Physical connections</li>
      <li>Walkway surface hardware</li>
      <li>Pile driving and anchoring</li>
      <li>Entrance / exit ramps</li>
      <li>Finishing of connection joints</li>
      <li>Patching lift eyes</li>
    </ul>
  </li>
  <li>
    Finishing (completed by sub trades)
    <ul>
      <li>Electricity</li>
      <li>Water works</li>
      <li>Internet and cable</li>
    </ul>
  </li>
</ul>













<div class="gallery">

  <a href="#img1">
    <%= image_tag 'products_services/commercial_marinas/thumbs/gallery1.jpg', :class => 'thumbnail' %>
  </a>
  <!-- lightbox container hidden with CSS -->
  <a href="#" class="lightbox" id="img1">
    <%= image_tag 'products_services/commercial_marinas/gallery/gallery1.jpg' %>
  </a>

  <a href="#img2">
    <%= image_tag 'products_services/commercial_marinas/thumbs/gallery2.jpg', :class => 'thumbnail' %>
  </a>
  <!-- lightbox container hidden with CSS -->
  <a href="#" class="lightbox" id="img2">
    <%= image_tag 'products_services/commercial_marinas/gallery/gallery2.jpg' %>
  </a>

  <a href="#img3">
    <%= image_tag 'products_services/commercial_marinas/thumbs/gallery3.jpg', :class => 'thumbnail' %>
  </a>
  <!-- lightbox container hidden with CSS -->
  <a href="#" class="lightbox" id="img3">
    <%= image_tag 'products_services/commercial_marinas/gallery/gallery3.jpg' %>
  </a>

  <a href="#img4">
    <%= image_tag 'products_services/commercial_marinas/thumbs/gallery4.jpg', :class => 'thumbnail' %>
  </a>
  <!-- lightbox container hidden with CSS -->
  <a href="#" class="lightbox" id="img4">
    <%= image_tag 'products_services/commercial_marinas/gallery/gallery4.jpg' %>
  </a>

  <a href="#img5">
    <%= image_tag 'products_services/commercial_marinas/thumbs/gallery5.jpg', :class => 'thumbnail' %>
  </a>
  <!-- lightbox container hidden with CSS -->
  <a href="#" class="lightbox" id="img5">
    <%= image_tag 'products_services/commercial_marinas/gallery/gallery5.jpg' %>
  </a>

  <a href="#img6">
    <%= image_tag 'products_services/commercial_marinas/thumbs/gallery6.jpg', :class => 'thumbnail' %>
  </a>
  <!-- lightbox container hidden with CSS -->
  <a href="#" class="lightbox" id="img6">
    <%= image_tag 'products_services/commercial_marinas/gallery/gallery6.jpg' %>
  </a>

  <a href="#img7">
    <%= image_tag 'products_services/commercial_marinas/thumbs/gallery7.jpg', :class => 'thumbnail' %>
  </a>
  <!-- lightbox container hidden with CSS -->
  <a href="#" class="lightbox" id="img7">
    <%= image_tag 'products_services/commercial_marinas/gallery/gallery7.jpg' %>
  </a>

  <a href="#img8">
    <%= image_tag 'products_services/commercial_marinas/thumbs/gallery8.jpg', :class => 'thumbnail' %>
  </a>
  <!-- lightbox container hidden with CSS -->
  <a href="#" class="lightbox" id="img8">
    <%= image_tag 'products_services/commercial_marinas/gallery/gallery8.jpg' %>
  </a>

  <a href="#img9">
    <%= image_tag 'products_services/commercial_marinas/thumbs/gallery9.jpg', :class => 'thumbnail' %>
  </a>
  <!-- lightbox container hidden with CSS -->
  <a href="#" class="lightbox" id="img9">
    <%= image_tag 'products_services/commercial_marinas/gallery/gallery9.jpg' %>
  </a>

  <a href="#img10">
    <%= image_tag 'products_services/commercial_marinas/thumbs/gallery10.jpg', :class => 'thumbnail' %>
  </a>
  <!-- lightbox container hidden with CSS -->
  <a href="#" class="lightbox" id="img10">
    <%= image_tag 'products_services/commercial_marinas/gallery/gallery10.jpg' %>
  </a>

  <a href="#img11">
    <%= image_tag 'products_services/commercial_marinas/thumbs/gallery11.jpg', :class => 'thumbnail' %>
  </a>
  <!-- lightbox container hidden with CSS -->
  <a href="#" class="lightbox" id="img11">
    <%= image_tag 'products_services/commercial_marinas/gallery/gallery11.jpg' %>
  </a>

  <a href="#img12">
    <%= image_tag 'products_services/commercial_marinas/thumbs/gallery12.jpg', :class => 'thumbnail' %>
  </a>
  <!-- lightbox container hidden with CSS -->
  <a href="#" class="lightbox" id="img12">
    <%= image_tag 'products_services/commercial_marinas/gallery/gallery12.jpg' %>
  </a>

  <a href="#img13">
    <%= image_tag 'products_services/commercial_marinas/thumbs/gallery13.jpg', :class => 'thumbnail' %>
  </a>
  <!-- lightbox container hidden with CSS -->
  <a href="#" class="lightbox" id="img13">
    <%= image_tag 'products_services/commercial_marinas/gallery/gallery13.jpg' %>
  </a>

</div>


<p>
  Utilizing our modular product design, Surefloat has installed numerous multi-slip marinas in British Columbia.
</p>

<p>
  Completed Projects
</p>

<ul>
  <li>Maple Bay Marina</li>
  <li>Maple Bay Yacht Club</li>
  <li>China Creek Marina</li>
  <li>Clutesi Haven Marina</li>
  <li>Harbour Quay Marina</li>
  <li>Departure Bay Marina</li>
  <li>Port Sidney Marina</li>
  <li>West Vancouver Yacht Club Gambier Island Outpost</li>
</ul>
