---
title: Residential Cottage Docks
hero: hero/marina.jpg
---

<% content_for :above_content do %>
  <%= partial 'services_breadcrumbs', locals: { active: '/products-services/residential-cottage-docks' } %>
<% end %>

<h2>RESIDENTIAL COTTAGE DOCKS</h2>

<figure class="alignright">
    <%= image_tag 'products_services/residential_docks/residential.jpg' %>
</figure>

<p>
  Surefloat offers an engineered solution for new turn-key marinas and for upgrading existing marina facilities.  With modular products that are durable, have a long lifecycle and are easy and flexible to connect, the precast segment docking system is designed with the customer in mind.
</p>

<h3>Product Specifications</h3>

<ul>
  <li>Dimensions: 10’x20’, 38” depth with 12” freeboard</li>
  <li>Hardware Options:</li>
  <ul>
    <li>galvanized corner brackets, heavy-duty hinges, corrosion resistant nuts, bolts and screws</li>
  </ul>
  <li>Rub Rail Options:</li>
  <ul>
    <li>red cedar</li>
    <li>yellow cedar</li>
    <li>fir</li>
    <li>hemlock</li>
  </ul>
  <li>Concrete Pigment Options:</li>
  <ul>
    <li>Pebble / Terra Cotta</li>
    <li>Grey</li>
  </ul>
  <li>Example Configuration Options: </li>
</ul>

<figure class="alignleft">
  <%= image_tag 'frequently_asked_questions/config-a.jpg' %>
  <%= image_tag 'frequently_asked_questions/config-b.jpg' %>
  <%= image_tag 'frequently_asked_questions/config-c.jpg' %>
</figure>


<div class="gallery">

  <a href="#img1">
    <%= image_tag 'products_services/residential_docks/thumbs/gallery1.jpg', :class => 'thumbnail' %>
  </a>
  <!-- lightbox container hidden with CSS -->
  <a href="#" class="lightbox" id="img1">
    <%= image_tag 'products_services/residential_docks/gallery/gallery1.jpg' %>
  </a>

  <a href="#img2">
    <%= image_tag 'products_services/residential_docks/thumbs/gallery2.jpg', :class => 'thumbnail' %>
  </a>
  <!-- lightbox container hidden with CSS -->
  <a href="#" class="lightbox" id="img2">
    <%= image_tag 'products_services/residential_docks/gallery/gallery2.jpg' %>
  </a>

  <a href="#img3">
    <%= image_tag 'products_services/residential_docks/thumbs/gallery3.jpg', :class => 'thumbnail' %>
  </a>
  <!-- lightbox container hidden with CSS -->
  <a href="#" class="lightbox" id="img3">
    <%= image_tag 'products_services/residential_docks/gallery/gallery3.jpg' %>
  </a>

  <a href="#img4">
    <%= image_tag 'products_services/residential_docks/thumbs/gallery4.jpg', :class => 'thumbnail' %>
  </a>
  <!-- lightbox container hidden with CSS -->
  <a href="#" class="lightbox" id="img4">
    <%= image_tag 'products_services/residential_docks/gallery/gallery4.jpg' %>
  </a>

  <a href="#img5">
    <%= image_tag 'products_services/residential_docks/thumbs/gallery5.jpg', :class => 'thumbnail' %>
  </a>
  <!-- lightbox container hidden with CSS -->
  <a href="#" class="lightbox" id="img5">
    <%= image_tag 'products_services/residential_docks/gallery/gallery5.jpg' %>
  </a>

  <a href="#img6">
    <%= image_tag 'products_services/residential_docks/thumbs/gallery6.jpg', :class => 'thumbnail' %>
  </a>
  <!-- lightbox container hidden with CSS -->
  <a href="#" class="lightbox" id="img6">
    <%= image_tag 'products_services/residential_docks/gallery/gallery6.jpg' %>
  </a>

  <a href="#img7">
    <%= image_tag 'products_services/residential_docks/thumbs/gallery7.jpg', :class => 'thumbnail' %>
  </a>
  <!-- lightbox container hidden with CSS -->
  <a href="#" class="lightbox" id="img7">
    <%= image_tag 'products_services/residential_docks/gallery/gallery7.jpg' %>
  </a>

  <a href="#img8">
    <%= image_tag 'products_services/residential_docks/thumbs/gallery8.jpg', :class => 'thumbnail' %>
  </a>
  <!-- lightbox container hidden with CSS -->
  <a href="#" class="lightbox" id="img8">
    <%= image_tag 'products_services/residential_docks/gallery/gallery8.jpg' %>
  </a>

</div>

<p>
  Utilizing our modular product design, Surefloat has installed residential docking systems on various lakes and oceans in British Columbia.
</p>
<ul>
  <li>Shawnigan Lake</li>
  <li>Cowichan Lake</li>
  <li>Sproat Lake</li>
  <li>Fuller Lake</li>
  <li>Diver Lake</li>
  <li>Horne Lake</li>
  <li>Thetis Island</li>
</ul>

<p>
  Have more questions?  Visit our <%= link_to 'Frequently Asked Questions', '/frequently-asked-questions' %> page for answers.
</p>
