---
title: Client Testimonials
---

<h2>CLIENT TESTIMONIALS</h2>

<blockquote class="clearfix">
  <figure class="alignleft">
    <a href="<%= image_path 'client_testimonials/mayo_lake.jpg' %>">
      <%= image_tag 'client_testimonials/mayo_lake-thumb.jpg' %>
    </a>
    <figcaption>
      Members of the Valley Fish & Game Club after installing the float on Mayo Lake with the assistance of the BC Conservation Foundation
    </figcaption>
  </figure>

  <p>
    I have been involved in a number of projects involving Surefloat products and am continually impressed with both the product as well as the professional staff who work to get us the best prices on what we consider to be a premium product.  Their ability to customize floats for various needs is met with ease and assurance that the end result will not only be safe, stable and functional, but endure the environment for many years to come.
  </p>

  <cite>
    <p><em>Michelle Kehler</em>, Project Biologist</p>
    <p>British Columbia Conservation Foundation</p>
    <p>September 13th, 2012</p>
  </cite>
</blockquote>

<blockquote class="clearfix">
  <figure class="alignright">
    <a href="<%= image_path 'client_testimonials/departure_bay.jpg' %>">
      <%= image_tag 'client_testimonials/departure_bay-thumb.jpg' %>
    </a>
  </figure>

  <p>
    Certainly from the aspect of Surefloat’s product – well, we’ve been here for almost three years – and there isn’t anything that needs to be done.  Zero maintenance – we have done nothing.  The only complaint from customers is that [the marina] is not big enough … we’ve been full within a month of opening.  This is the nicest docking system in Nanaimo.
  </p>

  <cite>
    <p>– Mike Seargent, owner of Departure Bay Marina at Newcastle Quay in Nanaimo, BC.</p>
  </cite>
</blockquote>

<blockquote class="clearfix">
  <figure class="alignleft">
    <a href="<%= image_path 'client_testimonials/maple_bay.jpg' %>">
      <%= image_tag 'client_testimonials/maple_bay-thumb.jpg' %>
    </a>
  </figure>

  <p>
    We are very happy with the engineered docks built by Surefloat.  After extensive research, it is our opinion that these are simply the best product available on the market.
  </p>

  <cite>
    <p>– David Messier, owner of Maple Bay Marina in Maple Bay, BC.</p>
  </cite>
</blockquote>

<blockquote class="clearfix">
  <figure class="alignright">
    <a href="<%= image_path 'client_testimonials/gibson_lake.jpg' %>">
      <%= image_tag 'client_testimonials/gibson_lake-thumb.jpg' %>
    </a>
  </figure>

  <p>
    As a designer of exceptional homes I understand the value of using the best of materials and manpower. This intimate knowledge helped me and my wife when it came time to research floats for our cottage on Cowichan Lake. Recollections from my sailing exploits and the hundreds of marina’s I have tied up to gave me insight into what materials survive the elements the best. As a good sailing buddy once asked me ” Why do we put the things we love the most in the harshest environment on earth” That question had a lot to do with the decision my wife and I decided upon.
    <br><br>
    We decided to go with a concrete float because of durability, longevity and stability but we also liked the fact that with concrete we weren’t introducing  poison from treated lumber into the lake. The lake our family and friends swim in and the lake our communities drinking water comes from.
    <br><br>
    The next step was researching manufacturers. It made sense to look locally but there was only a couple of manufacturers doing concrete floats. The people at Surefloat were very helpful and showed us the entire manufacturing process. Surefloat’s plant has been around for a long time and their personnel were very knowledgeable so we felt comfortable in ordering a float. The float was 10 ft. by 20 ft. and it was going to be light terracotta in colour. We liked it so much that first year we ordered another the following year. When the second float arrived the surefloat team simply through bolted them together and boom we doubled the size of our float. They explained to us that the floats have been engineered to bolt together many different ways so if we wanted to expand they would be happy to sell us another. You never know!
    <br><br>
    As we enter our 4th summer on the float all we had to do was wash off the winter, add a few chairs, put up our shade, grab a refreshment and enjoy the warmth of our concrete float. Best thing we ever did!
  </p>

  <cite>
    <p>– Craig Gibson, Lake Cowichan, BC</p>
    <p>For a pdf version of this testimonial – please see the spread from the August, 2012 issue of Victoria’s Boulevard Magazine: <a href="http://www.surefloat.com/wp-content/uploads/2012/07/120718-2012_08_SureFloat_Boulevard-Client-Testimonial.pdf">120718 2012_08_SureFloat_Boulevard Client Testimonial</a></p>
  </cite>
</blockquote>
