---
title: Frequently Asked Questions
hero: hero/marina.jpg
---

<h2>FREQUENTLY ASKED QUESTIONS</h2>

  <div class="clearfix"></div>

  <figure class="alignright">
      <%= image_tag 'frequently_asked_questions/float.jpg' %>
  </figure>

  <h3>Q: How does concrete float?</h3>
  <p>
    A: Each 10’x20’ concrete dock is approximately 23,000 lbs.  With that weight, you’d naturally wonder… how does it float?  Within the float, Type 1 EPS high-grade foam is placed and encapsulated by concrete.  This is called positive flotation – and it offers greater stability and buoyancy than other types of flotation.  Because of this technology, Surefloat’s docks are designed to be unsinkable.

  <div class="clearfix"></div>

  <h3>Q: Myth or Fact? Concrete docks are more expensive than wooden docks.</h3>
  <p>
    A: The Facts:
    <ul>
      <li>Concrete docks’ lifespan is more than two times that of a wooden dock</li>
      <li>Less yearly maintenance than wood dock</li>
      <li>Positive floatation + large mass = stability & usable surface area over life</li>
      <li>Appearance holds over time (more than wooden dock)</li>
    </ul>
  </p><br>

  <div class="clearfix"></div>

  <figure class="alignleft">
      <%= image_tag 'frequently_asked_questions/heavy.jpg' %>
  </figure>

  <h3>Q: Concrete docks are heavy, how will I transport it to my location?</h3>
  <p>
    A:  Surefloat can deliver your float(s) to your location – near or far.  Each Surefloat product’s size and weight has been designed to accommodate travel on any highway.  Once at your waterfront location, Surefloat’s unique self-launching system will be utilized to launch your float.

  <div class="clearfix"></div>

  <h3>Q: How do you bolt the docks together?</h3>
  <p>
    A:  Surefloat’s dock design is modular – built to suit any configuration you wish.
  </p>

  <figure class="alignleft">
    <a href="#img1">
      <%= image_tag 'frequently_asked_questions/configuration.png', :class => 'thumbnail' %>
    </a>
    <a href="#" class="lightbox" id="img1">
      <%= image_tag 'frequently_asked_questions/configuration.png' %>
    </a>
  </figure>
  <figure class="alignleft">
    <%= image_tag 'frequently_asked_questions/config-a.jpg' %>
    <%= image_tag 'frequently_asked_questions/config-b.jpg' %>
    <%= image_tag 'frequently_asked_questions/config-c.jpg' %>
  </figure>

  <div class="clearfix"></div>

  <figure class="alignleft">
    <%= image_tag 'frequently_asked_questions/rust.jpg' %>
  </figure>

  <h3>
    To prevent rusting and maintain strength, galvanized or stainless steel threaded rods are used to connect the docks together.
  </h3>
  <div class="clearfix"></div>
  <figure class="alignleft">
    <%= image_tag 'frequently_asked_questions/rubber.jpg' %>
  </figure>
  <h3>
    A rubber dampening system is also utilized to reduce wear and tear on the connections and absorb shocks.
  </h3>

  <div class="clearfix"></div>

  <h3>Q: How will I anchor the dock?</h3>
  <p>
    A:  Your dock or marina location is unique – with water depth, wind speed, wave height and wave frequency all influencing your mooring system, Surefloat advises engineering expertise to decide on how to anchor your dock. Depending on the engineer’s professional expertise, one of the following mooring systems may be utilized:

    <ul>
      <li>Pile driving (steel or wood)</li>
      <li>Anchors</li>
    </ul>
  </p>

  <div class="clearfix"></div>

  <h3>Q: Does the concrete surface get too hot to stand on in the sun?</h3>
  <p>
    A:  Concrete absorbs no more heat than a typical wooden float.  However, it does hold the heat for a longer time.  Our customers tell us, when sitting on their concrete dock in the evening, they can often feel the warmth emanating from the surface from the day’s sun.
  </p>

  <div class="clearfix"></div>

  <h3>Q: Do you sell add-ons (ie. ladders, slides, dock lighting, etc)?</h3>
  <p>
    A:  To make the most of your recreational or commercial dock purchase, Surefloat offers numerous add-on features for you to purchase. Contact us, and we will help you find what you are looking for.
  </p>

  <div class="clearfix"></div>

  <h3>Q: Why should I make my dock out of concrete?</h3>
  <p>
    Click <%= link_to 'HERE', 'assets/images/frequently_asked_questions/SF-wood-vs-aluminum-vs-concrete-chart.pdf' %> for a PDF showing why you should build your dock out of concrete
  </p>

  <div class="clearfix"></div>

  <h3>Q: Why is pressure treated wood (CCA) not a good choice for docks?</h3>
  <p>
    A: Pressure-treated wood uses chromated copper arsenate (CCA) as a preservative.  CCA has been linked to cancer and to environmental damage in lakes where it has been used.  For further information, check out the website for No CCA Wood: <%= link_to 'http://www.noccawood.ca/links.htm', 'http://www.noccawood.ca/links.htm' %>.  It goes through a variety of the problems associated with CCA treated wood.
  </p>

  <div class="clearfix"></div>

  <h3>Q: What is the BC Government’s stance on pressure treated wood (CCA) for docks?</h3>
  <p>
    A: The BC Ministry of Agriculture & Lands in conjunction with the Ministry of Forests, Lands and Natural Resource Operations state:
    <blockquote>
      <p>
        “Do not use pressure treated wood to avoid water contamination…”
      </p>
      <cite>
        <em>-- Requirements and Best Management Practices</em> - Designing Your Dock or Boat Launch
        <p>For further information, this document is located on the Ministry of Forests website: <%= link_to 'HERE', 'http://www.for.gov.bc.ca/Land_Tenures/tenure_programs/programs/privatemoorage/reqs_best_mgmt_practices.pdf' %>
        </p>

  <div class="clearfix"></div>

  <h3>Q: What is the Canadian Government’s stance on pressure treated wood (CCA) for docks?</h3>
  <p>
    A: The Department of Fisheries & Oceans Canada publishes guidelines on "Dock & Boathouse Construction in Freshwater Systems" which can be viewed <%= link_to 'HERE', 'http://www.pac.dfo-mpo.gc.ca/habitat/os-eo/dock-quais-eng.htm' %>
  <p>
    Specifically, the document refers to: “…Treated lumber may contain compounds that can be released into the water and become toxic to the aquatic environment…”
  </p>
