---
title: Products & Services

---

<h2>PRODUCTS & SERVICES</h2>

<div class="main-content-wrapper">
  <div class="main-content">

    <p>
      Surefloat products are unique thanks to precast technology and environmental innovation.
    </p>

    <p>
      Utilizing an engineered design, steel form frames, and high-grade concrete that is four times stronger than concrete used to build a house’s foundation, Surefloat’s prestressed concrete docks are unlike any other dock product on the market. Moreover, by utilizing precast concrete technology, Surefloat boasts a quick production time of only two days for a large precast 8’ by 60’ model float – versus a competitor’s production time of over two weeks.
    </p>

    <p>
      In terms of environmental innovation, as pioneered by Surespan’s work with the Vancouver Convention Centre, a unique concrete mix coupled with specific texturing provide a haven for marine life to grow on.  By erecting a Surefloat concrete marine structure, barnacles, muscles, algae and other marine creatures are provided a habitat that may otherwise not exist.
    </p>

    <p>
      How are Surefloat’s concrete docks different from other concrete docks?  Unlike other concrete dock manufactures, Surefloat builds all products at a CSA and CPCI certified manufacturing plant.  Other concrete dock manufacturers typically build the float onsite, pouring concrete into wooden frames. From a quality point of view, these wooden forms bow and twist under the concrete’s hydrostatic pressure, causing uneven concrete placement. As a result of the uneven concrete, the float will tilt in the water and the metal materials used to reinforce the float will rust because they are not adequately covered in concrete.
    </p>

    <p>
      With a modular product design, Surefloat is able to offer a premium quality product, at a market competitive price. When compared to a similar priced wood dock that lasts an average of ten years, Surefloat’s Cottage Dock offers annual cost savings as a result of its low maintenance and repair requirements and long-lasting lifespan.
    </p>

  </div>
  <div class="sidebar">
    <ul class="list-unstyled">
      <li>
        <a href="/products-services/commercial-marinas">
          <%= image_tag 'home/commercial.jpg', title: 'Commercial Marinas' %>
        </a>
      </li>
      <li>
        <a href="/products-services/residential-cottage-docks">
          <%= image_tag 'home/residential.jpg', title: 'Residential Cottage Docks' %>
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="gallery">

  <a href="#img1">
    <%= image_tag 'products_services/thumbs/gallery1.jpg', :class => 'thumbnail' %>
  </a>
  <!-- lightbox container hidden with CSS -->
  <a href="#" class="lightbox" id="img1">
    <%= image_tag 'products_services/gallery/gallery1.jpg' %>
  </a>

  <a href="#img2">
    <%= image_tag 'products_services/thumbs/gallery2.jpg', :class => 'thumbnail' %>
  </a>
  <!-- lightbox container hidden with CSS -->
  <a href="#" class="lightbox" id="img2">
    <%= image_tag 'products_services/gallery/gallery2.jpg' %>
  </a>

  <a href="#img3">
    <%= image_tag 'products_services/thumbs/gallery3.jpg', :class => 'thumbnail' %>
  </a>
  <!-- lightbox container hidden with CSS -->
  <a href="#" class="lightbox" id="img3">
    <%= image_tag 'products_services/gallery/gallery3.jpg' %>
  </a>

  <a href="#img4">
    <%= image_tag 'products_services/thumbs/gallery4.jpg', :class => 'thumbnail' %>
  </a>
  <!-- lightbox container hidden with CSS -->
  <a href="#" class="lightbox" id="img4">
    <%= image_tag 'products_services/gallery/gallery4.jpg' %>
  </a>

  <a href="#img5">
    <%= image_tag 'products_services/thumbs/gallery5.jpg', :class => 'thumbnail' %>
  </a>
  <!-- lightbox container hidden with CSS -->
  <a href="#" class="lightbox" id="img5">
    <%= image_tag 'products_services/gallery/gallery5.jpg' %>
  </a>

</div>
